<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://127.0.0.1:8080/static/css/taas.css">
    <title>Tortitas as a Service</title>
</head>
<body>
    <header>
        <div class="logo">TAAS</div>
        <div class="motto">Tortitas as a Service</div>
        <menu>
            <span class="item"><a href="/">Home</a></span>
            <span class="item"><a href="/about">About</a></span>
        </menu>
    </header>
    <main>
        <h4>this is a delicious tortita from our homepage</h4>
        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP._vEjpYgdqjTV5GU9in2ESAHaE7%26pid%3DApi&f=1" alt="a delicious pancake">
    </main>
    <footer>
        <div class="copyright">
            © TAAS Inc. 2022
        </div>
    </footer>
</body>
</html>
